<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="lib/angular-momentjs/angular-momentjs.js"></script>
    <script src="lib/ionic-rating/ionic-rating.min.js"></script>
    <script src="lib/angular-timeago/dist/angular-timeago.min.js"></script>
    <!-- your app's js -->
    <!-- <script src="js/slidingTabsDirective.js"></script> -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="mylapore" ng-clock ng-init="style='style1'">

    <ion-side-menus enable-menu-with-back-views="false">

     <ion-pane ion-side-menu-content drag-content="false">
       <ion-nav-bar class="bar-stable nav-title-slide-ios7" >
         <ion-nav-back-button style="padding-top:4px;"></ion-nav-back-button>
       </ion-nav-bar>
       <ion-nav-view></ion-nav-view>
     </ion-pane>

     <ion-side-menu side="left">
       <ion-content>
         <ion-list>
           <ion-item menu-close href="#/app/news">
             Home
           </ion-item>
           <ion-item menu-close href="#/vilambaram">
             Advertise With Us
           </ion-item>
           <ion-item menu-close href="#/contact">
             Contact
           </ion-item>
           <ion-item menu-close href="#/settings">
             Settings
           </ion-item>
         </ion-list>
       </ion-content>
     </ion-side-menu>

    </ion-side-menus>

      <script id="error-list.html" type="text/ng-template">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i>
              This field is required!
            </div>
            <div class="error" ng-message="minlength">
              <i class="ion-information-circled"></i>
              Minimum length of this field is 5 characters!
            </div>
            <div class="error" ng-message="maxlength">
              <i class="ion-information-circled"></i>
              Maximum length of this field is 50 characters!
            </div>
             <div class="error" ng-message="email">
              <i class="ion-information-circled"></i>
              This field must be a valid email address!
            </div>
            <div class="error" ng-message="checked">
              <i class="ion-information-circled"></i>
              Maximum length of this field is 50 characters!
            </div>
    </script>

    <script id="templates/newsdetails.html" type="text/ng-template">
      <ion-view>
        <ion-content on-swipe-right="$ionicGoBack();" overflow-scroll="false">
          <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-show="detail.image" ng-click="showImages()" />
          <div class="padding">
            <h4 ng-bind="detail.title" class="detail_news_title" ng-show="detail.title"></h4>
            <p ng-bind="detail.description" class="detail_news_desc" ng-show="detail.description"></p>
            <span ng-bind="detail.created_at|timeago" ng-show="detail.created_at" class="posted"></span>
          </div>
          <div class="item" ng-show="advert.image">
            <img class="full-image" ng-src="{{iurls}}{{advert.image_path}}/{{advert.image}}" alt="img" ng-click="openBrowser(advert.link)" />
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/civicdetails.html" type="text/ng-template">
      <ion-view>
        <ion-content on-swipe-right="$ionicGoBack();" overflow-scroll="false">
          <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-click="showImages($index)">
          <div class="padding">
            <h4 class="detail_news_title" ng-bind="detail.title"></h4>
            <p class="detail_news_desc" ng-bind="detail.description"></p>
            <span ng-bind="detail.created_at|timeago" ng-show="detail.created_at" class="posted"></span>
          </div>
          <div class="item" ng-show="advert.image">
            <img class="full-image" ng-src="{{iurls}}{{advert.image_path}}/{{advert.image}}" alt="img" ng-click="openBrowser(advert.link)" />
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/eventdetails.html" type="text/ng-template">
      <ion-view>
        <ion-content on-swipe-right="$ionicGoBack();" overflow-scroll="false">
          <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-click="showImages($index)">
          <div class="padding">
            <h4 class="detail_news_title" ng-bind="detail.name"></h4>
            <p class="detail_news_desc" ng-bind="detail.venue"></p>
            <span ng-bind="detail.date" ng-show="detail.created_at" class="posted"></span>
          </div>
          <div class="item" ng-show="advert.image">
            <img class="full-image" ng-src="{{iurls}}{{advert.image_path}}/{{advert.image}}" alt="img" ng-click="openBrowser(advert.link)" />
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/tourismdetails.html" type="text/ng-template">
      <ion-view>
        <ion-content on-swipe-right="$ionicGoBack();" class="" overflow-scroll="false">
          <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-click="showImages($index)">
          <div class="padding">
            <h4 class="detail_news_title" ng-bind="detail.title"></h4>
            <p class="detail_news_desc" ng-bind="detail.description"></p>
            <span ng-bind="detail.created_at|timeago" ng-show="detail.created_at" class="posted"></span>
          </div>
          <div class="item" ng-show="advert.image">
            <img class="full-image" ng-src="{{iurls}}{{advert.image_path}}/{{advert.image}}" alt="img" ng-click="openBrowser(advert.link)" />
          </div>
        </ion-content>
      </ion-view>
    </script>

    <script src="https://maps-api-ssl.google.com/maps/api/js?libraries=places"></script>
  </body>
</html>
