<ion-view>
  <ion-content on-swipe-left="prev();"  on-swipe-right="next();" overflow-scroll="false">
              <ion-refresher on-refresh="classified_refresh()"></ion-refresher>
               <div class="relative">
                <section class="padding">
                  <h3><span class="section_title">C</span></h3><span class="sub_title">Classified</span>
                  <div class="text-center padding loadings" ng-show="classified_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
                <div class="padding text-center" ng-show="classified_nodata"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
                  <div class="list">
                  <label class = "item item-input item-select" ng-show="!classified_nodata || classified.length > 0">
                     <div class = "input-label">
                        Filter
                     </div>
                        <select name="filter" id="filter" ng-model="filter" ng-options="l.busi_category as l.busi_category for l in classified | unique:'busi_category'">
                          <option value="">All</option>
                        </select>
                  </label>
                    <div class="ripple classified_wrapper" ng-repeat="c in classified|filter:filter" ng-switch="c.design">
                      <div ng-switch-when="platinum" class="classified text-center {{c.design}}">
                          <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.company_name" ng-show="c.company_name"></h4>
                          </div>
                           <div class="card_desc">
                            <span class="cdesc" ng-bind="c.description" ng-show="c.description"></span>
                          </div>
                          <div class="card_content" style="background-image:url({{iurls}}{{c.image_path}}/{{c.image}})">
                          <p>
                          <i class="icon ion-location" ng-show="c.address"></i>
                            <span ng-bind="c.address" ng-show="c.address"></span>
                          </p>
                            <p ng-show="c.website">
                            <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
                            </p>
                            <p ng-show="c.contact_number">
                            <i class="icon ion-iphone"></i><a ng-href="tel: {{c.contact_number}}" ng-bind="c.contact_number"></a>
                            </p>
                          </div>
                          <div class="card_footer" ng-show="c.email_id">
                            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{c.email_id}}" ng-bind="c.email_id"></a>
                          </div>
                      </div>
                       <div ng-switch-when="premium" class="classified text-center {{c.design}}">
                          <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.company_name" ng-show="c.company_name"></h4>
                          </div>
                           <div class="card_desc">
                            <span class="cdesc" ng-bind="c.description" ng-show="c.description"></span>
                          </div>
                          <div class="card_content">
                          <p>
                            <i class="icon ion-location" ng-show="c.address"></i>
                              <span ng-bind="c.address" ng-show="c.address"></span>
                          </p>
                            <p ng-show="c.website">
                            <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
                            </p>
                            <p ng-show="c.contact_number">
                            <i class="icon ion-iphone"></i><a ng-href="tel: {{c.contact_number}}" ng-bind="c.contact_number"></a>
                            </p>
                          </div>
                          <div class="card_footer" ng-show="c.email_id">
                            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{c.email_id}}" ng-bind="c.email_id"></a>
                          </div>
                      </div>
                       <div ng-switch-when="highlight" class="classified text-center {{c.design}}">
                          <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.company_name" ng-show="c.company_name"></h4>
                          </div>
                           <div class="card_desc">
                            <span class="cdesc" ng-bind="c.description" ng-show="c.description"></span>
                          </div>
                          <div class="card_content">
                          <p>
                            <i class="icon ion-location" ng-show="c.address"></i>
                              <span ng-bind="c.address" ng-show="c.address"></span>
                          </p>
                            <p ng-show="c.website">
                            <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
                            </p>
                            <p ng-show="c.contact_number">
                            <i class="icon ion-iphone"></i><a ng-href="tel: {{c.contact_number}}" ng-bind="c.contact_number"></a>
                            </p>
                          </div>
                          <div class="card_footer" ng-show="c.email_id">
                            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{c.email_id}}" ng-bind="c.email_id"></a>
                          </div>
                      </div>
                      <div ng-switch-when="normal" class="classified text-center {{c.design}}">
                          <div class="card_header">
                            <h4 class="ctitle" ng-bind="c.company_name" ng-show="c.company_name"></h4>
                          </div>
                           <div class="card_desc">
                            <span class="cdesc" ng-bind="c.description" ng-show="c.description"></span>
                          </div>
                          <div class="card_content">
                          <p>
                            <i class="icon ion-location" ng-show="c.address"></i>
                            <span ng-bind="c.address" ng-show="c.address"></span>
                          </p>
                            <p ng-show="c.website">
                            <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
                            </p>
                            <p ng-show="c.contact_number">
                            <i class="icon ion-iphone"></i><a ng-href="tel: {{c.contact_number}}" ng-bind="c.contact_number"></a>
                            </p>
                          </div>
                          <div class="card_footer" ng-show="c.email_id">
                            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{c.email_id}}" ng-bind="c.email_id"></a>
                          </div>
                      </div>
                    </div>
                  </div>
              <ion-infinite-scroll distance="10" icon="none" ng-if="classified_loadmore" immediate-check="false" on-infinite="classified_load()"></ion-infinite-scroll>
              <div class="text-center padding infiniteloading" ng-show="classified_loading_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
              <div class="text-center padding infiniteloading" ng-show="!classified_loading_icon && classified.length > 1"><span> You've reached the bottom of the page</span></div>
                </section>
              </div>
  </ion-content>
  </ion-view>
