<ion-view view-title="Contact">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content class="myview has-header1" id="page1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2624.5922879326827!2d80.26680593228019!3d13.032511147475129!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc859d792a5818ff4!2sAcestra+Networks+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1500013591144" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <form name="contactForm" novalidate="" ng-submit="contact_form_Submit(contact)">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" name="name" placeholder="John" ng-model="contact.name" ng-maxlength="50" required>
          </label>
            <div class="error-container" ng-show="contactForm.name.$touched && contactForm.name.$error" ng-messages="contactForm.name.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" name="email" placeholder="john@yopmail.com" ng-model="contact.email"/ required>
          </label>
          <div class="error-container" ng-show="contactForm.email.$touched && contactForm.email.$error" ng-messages="contactForm.email.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <label class = "item item-input item-select">
            <div class = "input-label">
            Subject
            </div>
            <select ng-model="contact.subject" ng-init="contact.subject='General Customer Service'">
              <option value="General Customer Service">General Customer Service</option>
              <option value="Suggestions">Suggestions</option>
              <option value="Product Support">Product Support</option>
            </select>
          </label>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Message</span>
            <textarea placeholder="Your Message" name="message" ng-model="contact.message" required></textarea>
          </label>
            <div class="error-container" ng-show="contactForm.message.$touched && contactForm.message.$error" ng-messages="contactForm.message.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

        </div>
        <div class="padding">
        <button class="button button-full button-balanced icon-right ion-android-send" type="submit" ng-disabled="!contact.name || !contact.email || !contact.subject || !contact.message">
          Send
        </button>
      </div>
      </form>
   </ion-content>
</ion-view>
