<ion-view view-title="{{mytitle}}" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$ionicGoBack()" >
    <i class="icon ion-ios-arrow-back"></i>
    </button>
    </ion-nav-buttons>
  <ion-content overflow-scroll="false" ng-switch="page" class="has-header1">
    <div ng-switch-when="News" ng-init='share="News"'>
      <div class="text-center padding loadings" ng-show="notificationdetail_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-show="detail.image" ng-click="showImages()" />
      <div class="padding">
        <h4 ng-bind="detail.title" class="detail_news_title" ng-show="detail.title"></h4>
        <span ng-bind="detail.created_at|timeAgo" ng-show="detail.created_at" class="posted"></span>
        <p ng-bind="detail.description" class="detail_news_desc" ng-show="detail.description"></p>

      </div>
    </div>

    <div ng-switch-when="Classified" class="remove">
      <div class="text-center padding loadings" ng-show="notificationdetail_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <div class="ripple classified_wrapper" ng-switch="detail.design">
        <div ng-switch-when="platinum" class="classified text-center {{detail.design}}">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.busi_category" ng-show="detail.busi_category"></h4>
          </div>
          <div class="card_desc">
            <span class="cdesc" ng-bind="detail.description" ng-show="detail.description"></span>
          </div>
          <div class="card_content" style="background-image:url({{iurls}}{{detail.image_path}}/{{detail.image}})">
            <p>
              <i class="icon ion-location" ng-show="detail.address_one"></i>
              <span ng-bind="detail.address_one" ng-show="detail.address_one"></span>
            </p>
            <p ng-show="detail.website">
              <i class="icon ion-earth"></i><span ng-bind="detail.website"></span>
            </p>
            <p ng-show="detail.mobile_no">
              <i class="icon ion-iphone"></i><a ng-href="tel: {{detail.contact_number}}" ng-bind="detail.contact_number"></a>
            </p>
          </div>
          <div class="card_footer" ng-show="detail.email_id">
            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{detail.email_id}}" ng-bind="detail.email_id"></a>
          </div>
        </div>
        <div ng-switch-when="premium" class="classified text-center {{detail.design}}">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.busi_category" ng-show="detail.busi_category"></h4>
          </div>
          <div class="card_desc">
            <span class="cdesc" ng-bind="detail.description" ng-show="detail.description"></span>
          </div>
          <div class="card_content">
            <p>
              <i class="icon ion-location" ng-show="detail.address_one"></i>
              <span ng-bind="detail.address_one" ng-show="detail.address_one"></span>
            </p>
            <p ng-show="detail.website">
              <i class="icon ion-earth"></i><span ng-bind="detail.website"></span>
            </p>
            <p ng-show="detail.mobile_no">
              <i class="icon ion-iphone"></i><a ng-href="tel: {{detail.contact_number}}" ng-bind="detail.contact_number"></a>
            </p>
          </div>
          <div class="card_footer" ng-show="detail.email_id">
            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{detail.email_id}}" ng-bind="detail.email_id"></a>
          </div>
        </div>
        <div ng-switch-when="highlight" class="classified text-center {{detail.design}}">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.busi_category" ng-show="detail.busi_category"></h4>
          </div>
          <div class="card_desc">
            <span class="cdesc" ng-bind="detail.description" ng-show="detail.description"></span>
          </div>
          <div class="card_content">
            <p>
              <i class="icon ion-location" ng-show="detail.address_one"></i>
              <span ng-bind="detail.address_one" ng-show="detail.address_one"></span>
            </p>
            <p ng-show="detail.website">
              <i class="icon ion-earth"></i><span ng-bind="detail.website"></span>
            </p>
            <p ng-show="detail.mobile_no">
              <i class="icon ion-iphone"></i><a ng-href="tel: {{detail.contact_number}}" ng-bind="detail.contact_number"></a>
            </p>
          </div>
          <div class="card_footer" ng-show="detail.email_id">
            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{detail.email_id}}" ng-bind="detail.email_id"></a>
          </div>
        </div>
        <div ng-switch-when="normal" class="classified text-center {{detail.design}}">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.busi_category" ng-show="detail.busi_category"></h4>
          </div>
          <div class="card_desc">
            <span class="cdesc" ng-bind="detail.description" ng-show="detail.description"></span>
          </div>
          <div class="card_content">
            <p>
              <i class="icon ion-location" ng-show="detail.address_one"></i>
              <span ng-bind="detail.address_one" ng-show="detail.address_one"></span>
            </p>
            <p ng-show="detail.website">
              <i class="icon ion-earth"></i><span ng-bind="detail.website"></span>
            </p>
            <p ng-show="detail.mobile_no">
              <i class="icon ion-iphone"></i><a ng-href="tel: {{detail.contact_number}}" ng-bind="detail.contact_number"></a>
            </p>
          </div>
          <div class="card_footer" ng-show="detail.email_id">
            <i class="icon ion-android-mail"></i><a ng-href="mailto:{{detail.email_id}}" ng-bind="detail.email_id"></a>
          </div>
        </div>
      </div>
    </div>

    <div ng-switch-when="Directory" class="remove">
      <div class="text-center padding loadings" ng-show="notificationdetail_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <div class="ripple directory" ng-switch="detail.priority">
        <div ng-switch-when="4" class="text-center">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.business_category_name" ng-show="detail.business_category_name"></h4>
          </div>
          <img ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" alt="dir" class="full-image" ng-show="detail.image" ng-click="showImages($index)" />
          <div class="directory_footer">
            <p class="company_name" ng-bind="detail.company_name"></p>
          </div>
          <div ng-show="detail.rating" class="wright"><span>Rating : </span>
            <rating ng-model="detail.rating" max="5" readOnly="true"></rating>
          </div>
          <div class="text-left" ng-show="detail.tags">
            <p class=""><strong>Tag : </strong></p>
            <ul class="tags" ng-show="detail.tags">
              <li ng-repeat="t in detail.tags track by $index"><span class="tag" ng-bind="t.tag_name"></span></li>
            </ul>
          </div>
          <!-- <p class="text-left" ng-show="detail.latitude"><strong>Location : </strong></p> -->
        </div>
        <div ng-switch-when="3" class="text-center">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.business_category_name" ng-show="detail.business_category_name"></h4>
          </div>
          <img ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" alt="dir" class="full-image" ng-click="showImages($index)" />
          <div class="directory_footer">
            <p class="company_name" ng-bind="detail.company_name"></p>
          </div>
          <div ng-show="detail.rating" class="wright"><span>Rating : </span>
            <rating ng-model="detail.rating" max="5" readOnly="true"></rating>
          </div>
          <div class="text-left" ng-show="detail.tags">
            <p class=""><strong>Tag :</strong></p>
            <ul class="tags" ng-show="detail.tags">
              <li ng-repeat="t in detail.tags track by $index"><span class="tag" ng-bind="t.tag_name"></span></li>
            </ul>
          </div>
          <!-- <p class="text-left" ng-show="detail.latitude"><strong>Location : </strong></p> -->
        </div>
        <div ng-switch-when="2" class="text-center third">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.business_category_name" ng-show="detail.business_category_name"></h4>
          </div>
          <h3 ng-bind="detail.company_name" ng-show="detail.company_name"></h3>
          <div class="card_desc" ng-show="detail.description">
            <span class="cdesc" ng-bind="detail.description"></span>
          </div>
          <div class="card_content">
            <i class="icon ion-location"></i>
            <span ng-bind="detail.address_one" ng-show="detail.address_one"></span><span ng-show="detail.address_one">,</span>
            <span ng-bind="detail.address_two" ng-show="detail.address_two"></span><span ng-show="detail.address_two">,</span>
            <span ng-bind="detail.area" ng-show="detail.area"></span><span ng-show="detail.area">,</span>
            <span ng-bind="detail.city" ng-show="detail.city"></span><span ng-show="detail.city">,</span>
            <span ng-bind="detail.pincode"></span>.
          </div>
          <p ng-show="detail.website" ng-show="detail.website">
            <i class="icon ion-earth"></i><span ng-bind="detail.website"></span>
          </p>
          <p ng-show="detail.mobile_no" ng-show="detail.mobile_no">
            <i class="icon ion-iphone"></i><span ng-bind="detail.mobile_no"></span>
          </p>
          <div class="card_footer" ng-show="detail.email_id">
            <i class="icon ion-android-mail"></i><span ng-bind="detail.email_id"></span>
          </div>
          <div ng-show="detail.rating" class="wright"><span>Rating : </span>
            <rating ng-model="detail.rating" max="5" readOnly="true"></rating>
          </div>
          <div class="text-left" ng-show="detail.tags">
            <p class=""><strong>Tag : </strong></p>
            <ul class="tags" ng-show="detail.tags">
              <li ng-repeat="t in detail.tags track by $index"><span class="tag" ng-bind="t.tag_name"></span></li>
            </ul>
          </div>
          <!-- <p class="text-left" ng-show="detail.latitude"><strong>Location : </strong></p> -->
        </div>
        <div ng-switch-when="1" class="text-center">
          <div class="card_header">
            <h4 class="ctitle" ng-bind="detail.business_category_name" ng-show="detail.business_category_name"></h4>
          </div>
          <h3 ng-bind="detail.company_name"></h3>
          <div class="card_desc">
            <span class="cdesc" ng-bind="detail.description"></span>
          </div>
          <div class="card_content">
            <i class="icon ion-location"></i>
            <span ng-bind="detail.address_one" ng-show="detail.address_one"></span><span ng-show="detail.address_one">,</span>
            <span ng-bind="detail.address_two" ng-show="detail.address_two"></span><span ng-show="detail.address_two">,</span>
            <span ng-bind="detail.area" ng-show="detail.area"></span><span ng-show="detail.area">,</span>
            <span ng-bind="detail.city" ng-show="detail.city"></span><span ng-show="detail.city">,</span>
            <span ng-bind="detail.pincode"></span>.
          </div>
          <p ng-show="detail.website" ng-show="detail.website">
            <i class="icon ion-earth"></i><span ng-bind="detail.website"></span>
          </p>
          <p ng-show="detail.mobile_no" ng-show="detail.mobile_no">
            <i class="icon ion-iphone"></i><span ng-bind="detail.mobile_no"></span>
          </p>
          <div class="card_footer" ng-show="detail.email_id">
            <i class="icon ion-android-mail"></i><span ng-bind="detail.email_id"></span>
          </div>
          <div ng-show="detail.rating" class="wright"><span>Rating : </span>
            <rating ng-model="detail.rating" max="5" readOnly="true"></rating>
          </div>
          <div class="text-left" ng-show="detail.tags">
            <p class=""><strong>Tag :</strong></p>
            <ul class="tags" ng-show="detail.tags">
              <li ng-repeat="t in detail.tags track by $index"><span class="tag" ng-bind="t.tag_name"></span></li>
            </ul>
          </div>
          <!-- <p class="text-left" ng-show="detail.latitude"><strong>Location : </strong></p> -->
        </div>
      </div>
    </div>

    <div ng-switch-when="Civic Issue">
      <div class="text-center padding loadings" ng-show="notificationdetail_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-click="showImages($index)">
      <div class="padding">
        <h4 class="detail_news_title" ng-bind="detail.title"></h4>
        <span ng-bind="detail.created_at|timeAgo" ng-show="detail.created_at" class="posted"></span>
        <p class="detail_news_desc" ng-bind="detail.description"></p>
      </div>
      </div>


    <div ng-switch-when="Event">
      <div class="text-center padding loadings" ng-show="notificationdetail_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <img class="full-image shadow" ng-src="{{iurls}}{{detail.image_path}}/{{detail.image}}" ng-click="showImages($index)">
      <div class="padding">
        <div class="title" ng-show="detail.category"><strong>Category : </strong><span class="no_weight" ng-bind="detail.category"></span></div>
        <div class="title detail_news_title" ng-show="detail.name"><strong>Title : </strong><span class="no_weight" ng-bind="detail.name"></span></div>
        <div class="title" ng-show="detail.description"><strong>Description : </strong><span class="no_weight" ng-bind="detail.description"></span></div>
        <div class="title" ng-if="detail.venue || detail.city"><strong>Venue : </strong><span class="no_weight" ng-bind="detail.venue"></span><span class="no_weight" ng-show="ev.venue">,</span> <span class="no_weight" ng-bind="ev.city"></span></div>
        <span ng-bind="ev.date" ng-show="detail.created_at" class="posted"></span>
      </div>
    </div>

    <div ng-switch-when="Tourism">
      <div class="text-center padding loadings" ng-show="notificationdetail_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <ion-slide-box auto-play="true" does-continue="true">
        <ion-slide ng-repeat="di in detail.image">
            <img style="width: 100%" ng-src="{{iurls}}{{di}}" ng-click="multishowImages($index)">
        </ion-slide>
      </ion-slide-box>
      <div class="padding">
        <h4 class="detail_news_title" ng-bind="detail.title"></h4>
        <p class="detail_news_desc" ng-bind="detail.description"></p>
        <span ng-bind="detail.created_at|timeAgo" ng-show="detail.created_at" class="posted"></span>
      </div>
    </div>
    <div ng-switch-when="Search" class="padding">
      <div class="text-center padding loader" ng-show="search_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <div class="padding text-center" ng-show="not_found"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
      <div class="list">
        <div class="ripple directory" ng-repeat="c in detail|filter:filter" ng-switch="c.priority">
          <div ng-switch-when="4" class="text-center">
            <div class="card_header">
              <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
            </div>
            <img ng-src="{{iurls}}{{c.image_path}}/{{c.image}}" alt="dir" class="full-image" ng-show="c.image" ng-click="showImages($index)"/>
            <div class="directory_footer">
              <p class="company_name" ng-bind="c.company_name"></p>
              <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
            </div>
          </div>
          <div ng-switch-when="3" class="text-center">
            <div class="card_header">
              <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
            </div>
            <img ng-src="{{iurls}}{{c.image_path}}/{{c.image}}" alt="dir" class="full-image" ng-click="showImages($index)"/>
            <div class="directory_footer">
              <p class="company_name" ng-bind="c.company_name"></p>
              <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
            </div>
          </div>
          <div ng-switch-when="2" class="text-center third">
            <div class="card_header">
              <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
            </div>
            <h3 ng-bind="c.company_name" ng-show="c.company_name"></h3>
            <div class="card_desc" ng-show="c.description">
              <span class="cdesc" ng-bind="c.description"></span>
            </div>
            <div class="card_content">
              <i class="icon ion-location"></i>
              <span ng-bind="c.address_one" ng-show="c.address_one"></span><span ng-show="c.address_one">,</span>
              <span ng-bind="c.address_two" ng-show="c.address_two"></span><span ng-show="c.address_two">,</span>
              <span ng-bind="c.area" ng-show="c.area"></span><span ng-show="c.area">,</span>
              <span ng-bind="c.city" ng-show="c.city"></span><span ng-show="c.city">,</span>
              <span ng-bind="c.pincode"></span>.
            </div>
            <p ng-show="c.website" ng-show="c.website">
              <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
            </p>
            <p ng-show="c.mobile_no" ng-show="c.mobile_no">
              <i class="icon ion-iphone"></i><span ng-bind="c.mobile_no"></span>
            </p>
            <div class="card_footer" ng-show="c.email_id">
              <i class="icon ion-android-mail"></i><span ng-bind="c.email_id"></span>
            </div>
            <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
          </div>
          <div ng-switch-when="1" class="text-center">
            <div class="card_header">
              <h4 class="ctitle" ng-bind="c.business_category_name" ng-show="c.business_category_name"></h4>
            </div>
            <h3 ng-bind="c.company_name"></h3>
            <div class="card_desc">
              <span class="cdesc" ng-bind="c.description"></span>
            </div>
            <div class="card_content">
              <i class="icon ion-location"></i>
              <span ng-bind="c.address_one" ng-show="c.address_one"></span><span ng-show="c.address_one">,</span>
              <span ng-bind="c.address_two" ng-show="c.address_two"></span><span ng-show="c.address_two">,</span>
              <span ng-bind="c.area" ng-show="c.area"></span><span ng-show="c.area">,</span>
              <span ng-bind="c.city" ng-show="c.city"></span><span ng-show="c.city">,</span>
              <span ng-bind="c.pincode"></span>.
            </div>
            <p ng-show="c.website" ng-show="c.website">
              <i class="icon ion-earth"></i><span ng-bind="c.website"></span>
            </p>
            <p ng-show="c.mobile_no" ng-show="c.mobile_no">
              <i class="icon ion-iphone"></i><span ng-bind="c.mobile_no"></span>
            </p>
            <div class="card_footer" ng-show="c.email_id">
              <i class="icon ion-android-mail"></i><span ng-bind="c.email_id"></span>
            </div>
            <div ng-show="c.rating" class="wright"><span>Rating : </span><rating ng-model="c.rating" max="5" readOnly="true" ></rating></div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="share_btn_outer">
    <button style="margin-left: 10px;" class="button button-light share_btn" ng-click="share(detail)">
            <i class="icon ion-android-share-alt"></i>
        </button>
        <button class="button button-light share_btn whats_app_share" ng-click="sharewhatsapp(detail)">
            <i class="icon ion-social-whatsapp"></i>
         </button>
  </div>
</ion-view>
