<div class="modal image-modal transparent">
<i class="ion-ios-close-empty close" ng-click="closeModal()"></i>
  <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
  <ion-slide ng-repeat="image in otherimage" style="background-color:transparent;">
      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"  zooming="true" class="zoom-pane" min-zoom="{{zoomMin}}" overflow-scroll="false" style="width: 100%; height: 100%"
      delegate-handle="scrollHandle0" on-scroll="updateSlideStatus(0)" on-release="updateSlideStatus(0)">
      <div class="image"  on-double-tap="onDoubleTap(0)" style="background-image: url({{image}})"></div>
    </ion-scroll>
</ion-slide-box>
</div>
