
  <ion-view view-title="Settings">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
   <ion-content class="has-header1">
  <div class="list">
    <ion-toggle toggle-class="toggle-balanced" ng-model="push" ng-click="setting()">
              You Want Notification Alert ?
      </ion-toggle>
  <!-- <label class="item item-input item-select">
    <div class="input-label">
      Font Size
    </div>
    <select ng-model="font" ng-change="font_size(font)">
      <option>Small</option>
      <option>Medium</option>
      <option>Large</option>
    </select>
  </label>
    <div class="item" ng-click="clear()">
    Clear App Memory
    <span class="item-note" ng-bind="memory_size">
      <i class="icon ion-trash-a"></i>
    </span>
  </div> -->
  <div class="item" ng-click="openBrowser('http://mylaporetoday.com/Privacy_policy')">
    Disclaimer
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
  <div class="item" ng-click="openBrowser('http://mylaporetoday.com/Disclaimer')">
    Privacy policy
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
  <div class="item" ng-click="openBrowser('http://mylaporetoday.com/aboutUs')">
    About
    <span class="item-note">
     <i class="icon ion-chevron-right"></i>
    </span>
  </div>
 <div class="item" href="#">
    Version
    <span class="item-note">
      1.1
    </span>
  </div>
</div>
  </ion-content>
</ion-view>
