<ion-view ng-init="searchs=true;">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
     </ion-nav-back-button>
     <ion-nav-buttons side="left">
       <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
       </button>
     </ion-nav-buttons>
      
    <ion-nav-buttons side="right" >
      <button class="button button-icon button-clear" ng-class="search_icon ? 'ion-android-search' : 'ion-android-close' " ng-click="searchview();"></button>
  </ion-nav-buttons>
 <!--  <div class="memes_icon"></div> -->
      <div class="logo"></div>

  </ion-nav-bar> 
    <form name="searchForm" novalidate="" ng-submit="searchsubmit(search_value)" class="searchForm" ng-show="!search_icon">
      <div class="bar mybar">
       <label class="item-input-wrapper" >
         <input type="text" placeholder="What do you want in Mylapore?" ng-model="search_value" class="search item-input-wrapper">
       </label>
     <i class="icon ion-ios-close clear" ng-show="search_value" ng-click="search_value=''"></i>
    <button class="button button-clear search_btn" type="submit" ng-disabled="!search_value">
       Search
    </button>
   </div>
   </form>
   <ion-tabs class="tabs-icon-top tabs-assertive">
    <ion-tab title="News" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/app/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Classified" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/app/classified">
        <ion-nav-view name="tab-classified"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Directory" icon-off="ion-android-list" icon-on="ion-android-list" href="#/app/directory">
      <ion-nav-view name="tab-directory"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Civic Issue" icon-off="ion-android-globe" icon-on="ion-android-globe" href="#/app/civic">
      <ion-nav-view name="tab-civic"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Event" icon-off="ion-android-calendar" icon-on="ion-android-calendar" href="#/app/event">
      <ion-nav-view name="tab-event"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Tourism" icon-off="ion-android-camera" icon-on="ion-android-camera" href="#/app/tourism">
      <ion-nav-view name="tab-tourism"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
