<ion-view>
  <ion-content on-swipe-left="prev();" overflow-scroll="false" on-swipe-right="next();">
    <ion-refresher on-refresh="tourism_refresh()"></ion-refresher>
        <div class="relative">
        <section class="padding">
          <h3><span class="section_title">T</span></h3><span class="sub_title">Tourism</span>
          <div class="text-center padding loadings" ng-show="tourism_load_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
            <div class="padding text-center" ng-show="tourism_nodata"><i class="icon ion-alert-circled"></i>&nbsp;&nbsp;No data Available</div>
          <div class="list news mydesc">
            <div class="col50 pleft">
            <a href="" ng-click="details(n.id)" class="relative block" data-ng-repeat="n in tourism" ng-if="$odd">
              <img class="full-image shadow"  ng-src="{{iurls}}{{n.image_path}}/{{n.image}}">
              <h5 class="news_title mytitle" ng-bind="n.title"></h5>
            </a>
          </div>
          <div class="col50 pright">
            <a href="" ng-click="details(n.id)" class="relative block" data-ng-repeat="n in tourism" ng-if="$even">
              <img class="full-image shadow"  ng-src="{{iurls}}{{n.image_path}}/{{n.image}}">
              <h5 class="news_title mytitle" ng-bind="n.title"></h5>
          </a>
        </div>
      </div>
         </section>
         <ion-infinite-scroll distance="10" icon="none" ng-if="tourism_loadmore" immediate-check="false" on-infinite="tourism_load()"></ion-infinite-scroll>
      <div class="text-center padding infiniteloading" ng-show="tourism_loading_icon"><ion-spinner  icon="ios-small" class="spinner-assertive "></ion-spinner></div>
      <div class="text-center padding infiniteloading" ng-show="!tourism_loading_icon && tourism.length >1 "><span> You've reached the bottom of the page</span></div>
      </div>
  </ion-content>
  </ion-view>
