<ion-view view-title="Advertise with us" cache-view="false">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  <ion-content class="myview has-header1" id="remove">
      <form name="authorizationForm" novalidate="" ng-submit="request_form_Submit(authorization)">
        <div class="list">
          <label class="item item-input item-stacked-label">
              <span class="input-label">Name<sup>*</sup></span>
              <input type="text" name="name" ng-model="authorization.name"  placeholder="John" ng-maxlength="50" required>
          </label>
          <div class="error-container" ng-show="authorizationForm.name.$touched && authorizationForm.name.$error" ng-messages="authorizationForm.name.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Company<sup>*</sup></span>
           <input type="text" name="company" ng-model="authorization.company"  placeholder="Acestra Networks" ng-maxlength="50" required>
          </label>
          <div class="error-container" ng-show="authorizationForm.company.$touched && authorizationForm.company.$error" ng-messages="authorizationForm.company.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile<sup>*</sup></span>
           <input type="number" name="mobile" ng-model="authorization.mobile"  placeholder="9876543210" ng-maxlength="10" required>
          </label>
          <div class="error-container" ng-show="authorizationForm.mobile.$touched && authorizationForm.mobile.$error" ng-messages="authorizationForm.mobile.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

          <label class="item item-input item-stacked-label">
            <span class="input-label">Email Address<sup>*</sup></span>
           <input type="email" name="email" ng-model="authorization.email"  placeholder="john@yopmail.com" required>
          </label>
          <div class="error-container" ng-show="authorizationForm.email.$touched && authorizationForm.email.$error" ng-messages="authorizationForm.email.$error">
              <div ng-messages-include="error-list.html"></div>
          </div>

         <label class="item item-input item-stacked-label">
            <span class="input-label">Website Url</span>
           <input type="text" name="website" ng-model="authorization.website"  placeholder="www.company.com">
          </label>

           <label class="item item-input item-stacked-label" ng-init="authorization.banner_type.animation=false;authorization.banner_type.static=false;">
            <span class="input-label">Banner type<sup>*</sup></span>
            <ion-checkbox ng-model="authorization.banner_type.animation">Animation <label>&nbsp;[ i.e. gif ]</label></ion-checkbox>
            <ion-checkbox ng-model="authorization.banner_type.static">Static <label>&nbsp;[ i.e jpg,png ]</ion-checkbox>
           </label>
            <div class="error-container" ng-show="error_banner_type">
              <div class="error">
              <i class="ion-information-circled"></i>
              This field is required!
            </div>
          </div>
            <label class = "item item-input item-select">
            <div class = "input-label">
            Banner size in pixels
            <sup>*</sup>
            </div>
            <select ng-model="authorization.bannersize" ng-init="authorization.bannersize='Rectangle Small'">
              <option value="Rectangle Small">(400x100)</option>
              <option value="Rectangle Large">(400x150)</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Main concept of your banner</span>
            <input type="text" placeholder="content of the banner" ng-model="authorization.content">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Describe any ideas you have in mind for your banner design</span>
            <textarea placeholder="Banner content and Address" ng-model="authorization.description"></textarea>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Any additional comments</span>
            <textarea placeholder="" ng-model="authorization.comments"></textarea>
          </label>
           <label class="item item-input item-stacked-label">
              <span class="input-label">How many concepts or samples do you want to receive</span>
              <ion-radio ng-model="authorization.concept" ng-value="'1'" checked="checked">1</ion-radio>
              <ion-radio ng-model="authorization.concept" ng-value="'2'">2</ion-radio>
              <ion-radio ng-model="authorization.concept" ng-value="'3'">3</ion-radio>
              <ion-radio ng-model="authorization.concept" ng-value="'4'">4</ion-radio>
              <ion-radio ng-model="authorization.concept" ng-value="'more'">more</ion-radio>
           </label>
           <label class="item item-input item-stacked-label">
            <span class="input-label">Attach design materials</span>
          </label>
          <div class="padding">
            <div class="relative">
            <i class="icon ion-ios-close close" style="color:rgba(255, 255, 255, 0.93);font-size: 26px;" ng-show="model_image" ng-click="delete_image()"></i>
           <img ng-src="{{pathForImage(model_image)}}" class="full-image" ng-show="model_image">
           </div>
          <button class="button button-full icon-left ion-camera" type="button" ng-show="!model_image" ng-click="loadImage()">Take Photo</button>
       </div>
        </div>
        <div class="padding">
          <button class="button button-full button-balanced icon-right ion-android-send" type="submit" ng-disabled="!authorization.name || !authorization.company || !authorization.mobile || !authorization.email || !authorization.banner_type.animation && !authorization.banner_type.static">
            Send
          </button>
      </div>
      </form>
   </ion-content>
</ion-view>
